<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/main.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<footer class="footer">
			<div class="icons">
				<img
					src="https://cdn-icons-png.freepik.com/256/14417/14417460.png?semt=ais_hybrid"
					alt="twitter icon"
					width="20"
					height="20"
					class="twitter-icon"
				/>
				<img
					src="https://cdn-icons-png.freepik.com/256/145/145807.png?ga=GA1.1.1123124013.1716848401&semt=ais_hybrid"
					alt="linkedin icon"
					width="20"
					height="20"
					class="linkedin-icon"
				/>
				<img
					src="https://cdn-icons-png.freepik.com/256/733/733609.png?ga=GA1.1.1123124013.1716848401&semt=ais_hybrid"
					alt="github icon"
					width="20"
					height="20"
					class="github-icon"
				/>
			</div>
			<a href="/"><span>BWM</span></a>
			<% const year = new Date().getFullYear();%>
			<p>Copyright ©<%= year %></p>
		</footer>
	</body>
</html>
