<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/main.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<%- include("partials/navbar.ejs") %>
		<div class="about">
			<h1>About Me</h1>

			<img
				src="https://master--madev7.netlify.app/assets/home%20image-Cf3MwCT5.png"
				alt="About me image"
				class="img"
				width="80"
				height="80"
			/>
			<p>
				I am a software developer passionate about building impactful solutions
				to make the world a better place. I love creating and reading blog
				posts, and this platform provides the opportunity for others to do the
				same. Join us and share your unique voice as we explore, innovate, and
				inspire together.
			</p>
			<div class="about-img">
				<img
					src="https://cdn.pixabay.com/photo/2015/01/19/00/14/magazine-603581_1280.jpg"
					alt="hero image"
					width="250"
					height="200"
					class="img-1"
				/>
				<img
					src="https://cdn.pixabay.com/photo/2019/12/28/11/14/journal-4724337_960_720.jpg"
					alt="hero image"
					width="250"
					height="200"
					class="img-2"
				/>
			</div>
		</div>
		<%- include("partials/footer.ejs") %>
	</body>
</html>
