<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/main.css" />
		<title>BlogWithMadev</title>
	</head>
	<body>
		<%- include("partials/navbar.ejs") %>

		<div class="home">
			<div class="hero">
				<h1>Stand Out: Read and write your own blog posts.</h1>
				<p>
					Discover inspiring stories and insightful articles crafted by our
					diverse community. Whether you're an avid reader or an aspiring
					writer, our platform provides the perfect space to explore, express,
					and connect. Dive into a world of creativity and knowledge, and let
					your voice be heard. Start your blogging journey with us today and
					make an impact.
				</p>
				<span>Join our community and share your unique voice.</span>
				<div class="blog-buttons">
					<a href="/blog">Make a blog post</a>
					<a href="/blog" class="view">View blog posts</a>
				</div>
			</div>

			<img
				src="https://cdn.pixabay.com/photo/2015/09/09/20/29/espresso-933143_960_720.jpg"
				alt="hero image"
				width="600"
				height="600"
			/>
		</div>
	</body>
</html>
